.background {
  background-color: coral;
}
.center {
  text-align: center;
  font-family: Times New Roman;
}
.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.first {
  color: royalblue;
  text-align: center;
}
.second {
  color: royalblue;
  text-align: center;
  font-size: 125%;
}
.cluster {
  border-color: darkgreen;
  background-color: green;
}